{% load static %}
<footer class="container-fluid no-padding footer-main">
    <!-- Social Block -->
    <div class="container-fluid no-padding social-block">
        <!-- Container -->
        <div class="container">
            <h4>Stay Connected</h4>
            <ul>
                <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-pinterest-p"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div><!-- Container /- -->
    </div><!-- Social Block /- -->

    <div class="container-fluid no-padding footer-middle">
        <!-- Container -->
        <div class="container">
            <div class="row">
                <!-- Widget Block -->
                <div class="col-md-5 col-sm-6 col-xs-6 widget-block">
                    <!-- About Widget -->
                    <div class="ftr-widget ftr_widget_about">
                        <h3>ABOUT US</h3>
                        <p>The mate was a mighty sailing man the Skipper brave and sure the lady met this fellow and they knew it was much more than a hunch a mighty sailing man the Skipper brave met this fellow.</p>
                        <p>The movie star the professor and Mary Ann here on Gilligans Isle! Its mission - to explore strange new worlds to seek out new life and new civilizations to boldly go where no man has gone before. Well we're movin' on up to the east side.</p>
                    </div><!-- About Widget /- -->
                </div><!-- Widget Block /- -->
                <!-- Widget Block -->
                <div class="col-md-4 col-sm-6 col-xs-6 widget-block">
                    <!-- Recent Tweets -->
                    <div class="ftr-widget ftr_widget_instagram">
                        <h3>INSTAGRAM</h3>
                        <ul>
                            <li><a href="#"><img src="{% static 'images/ftr-insta-1.jpg' %}" alt="Recent" /></a></li>
                            <li><a href="#"><img src="{% static 'images/ftr-insta-2.jpg' %}" alt="Recent" /></a></li>
                            <li><a href="#"><img src="{% static 'images/ftr-insta-3.jpg' %}" alt="Recent" /></a></li>
                            <li><a href="#"><img src="{% static 'images/ftr-insta-4.jpg' %}" alt="Recent" /></a></li>
                            <li><a href="#"><img src="{% static 'images/ftr-insta-5.jpg' %}" alt="Recent" /></a></li>
                            <li><a href="#"><img src="{% static 'images/ftr-insta-6.jpg' %}" alt="Recent" /></a></li>
                        </ul>
                    </div><!-- Recent Tweets /- -->
                </div><!-- Widget Block /- -->
                <!-- Widget Block -->
                <div class="col-md-3 col-sm-6 col-xs-6 widget-block">
                    <!-- Link Widget -->
                    <div class="ftr-widget ftr_widget_link">
                        <h3>QUICK LINKS</h3>
                        <ul>
                            <li><a href="#" title="Technology">Technology</a></li>
                            <li><a href="#" title="Food">Food</a></li>
                            <li><a href="#" title="Marketing">Marketing</a></li>
                            <li><a href="#" title="Help & Support">Help & Support</a></li>
                            <li><a href="#" title="Medical">Medical</a></li>
                            <li><a href="#" title="Science">Science</a></li>
                            <li><a href="#" title="Architecture">Architecture</a></li>
                        </ul>
                        <ul>
                            <li><a href="#" title="Lifestyle">Lifestyle</a></li>
                            <li><a href="#" title="Sports">Sports</a></li>
                            <li><a href="#" title="Marketing">Marketing</a></li>
                            <li><a href="#" title="Fashion">Fashion</a></li>
                            <li><a href="#" title="Hotels">Hotels</a></li>
                        </ul>
                    </div><!-- Link Widget /- -->
                </div><!-- Widget Block /- -->
            </div>
        </div><!-- Container /- -->
    </div>
    <!-- Footer Bottom -->
    <div class="container-fluid no-padding btm-ftr">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p><i class="fa fa-copyright"></i> Copyright {% now "Y" %} All Rights Reserved</p>
                </div>
                <div class="col-md-8 ftr-menu-block">
                    <!-- nav -->
                    <nav class="navbar navbar-default ow-navigation">
                        <div class="navbar-header">
                            <button aria-controls="navbar" aria-expanded="false" data-target="#ftr-navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse" id="ftr-navbar">
                            <ul class="nav navbar-nav navbar-right">
                                {% url 'category' slug='technology' as tech_url %}
                                <li {% if request.get_full_path == tech_url %}class="active" {% endif %}>
                                    <a href="{% url 'category' slug='technology' %}" title="Technology">technology</a>
                                </li>

                                {% url 'category' slug='sports' as sports_url %}
                                <li {% if request.get_full_path == sports_url %}class="active" {% endif %}>
                                    <a href="{% url 'category' slug='sports' %}" title="Sports">sports</a>
                                </li>

                                {% url 'category' slug='lifestyle' as lifestyle_url %}
                                <li {% if request.get_full_path == lifestyle_url %}class="active" {% endif %}>
                                    <a href="{% url 'category' slug='lifestyle' %}" title="Lifestyle">lifestyle</a>
                                </li>

                                {% url 'category' slug='travel' as travel_url %}
                                <li {% if request.get_full_path == travel_url %}class="active" {% endif %}>
                                    <a href="{% url 'category' slug='travel' %}" title="Travel">travel</a>
                                </li>

                                {% url 'category' slug='entertaiment' as entertaiment_url %}
                                <li {% if request.get_full_path == entertaiment_url %}class="active" {% endif %}>
                                    <a href="{% url 'category' slug='entertaiment' %}" title="entertainment">entertainment</a>
                                </li>
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </nav><!-- nav /- -->
                </div>
            </div>
        </div>
    </div><!-- Footer Bottom /- -->
</footer>